#classic {
    background: #fafad2;
    font-weight: 500;
    padding: 1em;
    text-align: justify;
    /* box-shadow: 2px 2px 5px grey; */
}
#modern {
    background: rgba(255, 217, 0, 0.829);
    font-weight: bold;
    padding: 1em;
    font-weight: 200px;
    text-align: center;
    box-shadow: 2px 2px 5px grey;
    margin: 5em;
    /* width: 200px; */
}
#impact {
    border-width: 1em;
    font-weight: bold;
    border-style: double;
    background: rgba(121, 219, 121, 0.89);
    padding: 1.1em;
    text-align: center;
}
#elise {
    border-width: .5em .5em;
    border-style: groove;
    border-color: antiquewhite;
    font-style: oblique;
    background: rgb(255, 253, 253);
    font-weight: bold;
    padding: 1em;
    text-align: center;
}
#one, #two  {
    background:rgba(68, 247, 202, 0.89);
    font-weight: bold;
    display: inline-block;
    border-style: groove;
    border-color:rgba(10, 175, 175, 0.938) ;
    border-width: .5em;
    padding: 1.4em;
    text-align: center;
}
#gaudi {
    border-style: double;
    border-radius:1em;
}
/* Not finished */